body {
	background-color: #fffaf0;
	font-family: "kanit", "Arial", sans-serif;
}
.headfont {
	font-family: "Dancing Script", cursive;
}
p {
	font-size: 18px;
	font-family: "kanit", "Arial", sans-serif;
}
